body {
  background-color: #D2D2CF;
}

#no-post {
  text-align: center;
  color: grey;
}

#add-post {
  margin: 1em;
}

/* Post CSS */

.postCard {
  margin: 3em;
}

/* Write a post modal */
#outlined-basic {
  padding-top: 1em;
}

/* Comment CSS */
.comment-box {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}