body {
  background-color: #D2D2CF;
}

#no-post {
  text-align: center;
  color: grey;
}

#add-post {
  margin: 1em;
}

/* Post CSS */

.postCard {
  margin: 2em;
}

/* Write a post modal */
#modal-modal-title {
  margin-bottom: 0.5em;
}

.MuiOutlinedInput-root {
  margin-bottom: 1em;
}

/* Comment CSS */
.comment-box {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}